streamlit
langchain
langgraph
langchain-core
langchain-community
openai
loguru
langchain-groq
fastapi
uvicorn
python-dotenv
tensorflow
numpy
pandas
scikit-learn
joblib
PyPDF2
pdf2image
faiss-cpu
sentence-transformers
langchain-huggingface
tf-keras
beautifulsoup4
requests